body{
  /* height: 100vh; */
  background-image: url('../img/blue-bg.png');
  /* background-size: cover; */
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container{
  max-width: 400px;
}

.icon{
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
}

.card{
  width: 100%;
  max-width: 450px;
  /* margin: 100px auto 20px; */
  /* padding: 40px 30px 40px; */
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, .2) ;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-right: 2px solid rgba(255, 255, 255, .2);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
}

.card img{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  /* backdrop-filter: blur(10px); */
}

.form-control{
  border-radius: 50px;

}
